@charset "utf-8";
/* CSS Document */



h1 {
	font-family: "Croissant One", cursive;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px #868C54;
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	width: 700px;
	letter-spacing: 3px;
	margin-left: 15px;
}
#wrapper {
	width: 750px;
	text-align: center;
	vertical-align: middle;
	margin-left: 250px;
	padding: 25px;
	background-color: rgb(191,84,75);
	-moz-box-shadow: 10px 10px 5px #666;
	-webkit-box-shadow: 10px 10px 5px #666;
	box-shadow: 10px 10px 5px #666;
	margin-top: 50px;
}
body {
	background-image: url(background.fw.png);
	height: 900px;
	width: 900px;
}
